In [3]:
import requests

import pandas as pd
# !pip install musicbrainzngs

In [4]:
import json

In [5]:
import csv

In [39]:
df_lista_artistas = pd.read_csv('lista_artistas.csv')

artistas = list(df_lista_artistas['0'])

In [45]:
url = f'https://musicbrainz.org/ws/2/artist/?query={'Maneskin'}&fmt=json'

In [50]:
info_artistas = {'Nombre':[], 'País de Origen':[], 'Área de Origen':[]}

for artista in artistas:
    url = f'https://musicbrainz.org/ws/2/artist/?query={artista}&fmt=json'
    datos_artista = requests.get(url)
    datos_artista.status_code
    data = datos_artista.json()

    try:
        nombre_artista = data['artists'][0]['name']
        info_artistas['Nombre'].append(nombre_artista)
    except KeyError:
        info_artistas['Nombre'].append('Error')

    try:
        pais_artista = data['artists'][0]['country']
        info_artistas['País de Origen'].append(pais_artista)
    except KeyError:
        info_artistas['País de Origen'].append('Undefined')
    
    try:
        area_artista = data['artists'][0]['begin-area']['name']
        info_artistas['Área de Origen'].append(area_artista)
    except KeyError:
        info_artistas['Área de Origen'].append('Undefined')


info_artistas

IndexError: list index out of range

In [53]:
df_info_artistas = pd.DataFrame(info_artistas)

df_info_artistas

                   Nombre País de Origen    Área de Origen
0                Måneskin             IT              Roma
1              Elton John             GB            Pinner
2                Parmalee             US         Undefined
3            Thomas Rhett             US          Valdosta
4             OneRepublic             US  Colorado Springs
...                   ...            ...               ...
1703                Moxas      Undefined         Undefined
1704  Baby Stone Gorillas      Undefined         Undefined
1705            Softwilly             US         Undefined
1706            21 Savage             US          Plaistow
1707       XANAKIN SKYWOK      Undefined         Undefined

[1708 rows x 3 columns]

In [41]:
datos_artista = requests.get(url)
datos_artista.status_code

200

In [42]:
data = datos_artista.json()

In [ ]:
data

In [48]:
nombre_artista = data['artists'][0]['name']

print(nombre_artista)

pais_artista = data['artists'][0]['country']

print(pais_artista)

#area_artista = data['artists'][0]['begin-area']['name']

#print(area_artista)

#f_inicio_artista = data['artists'][0]['aliases'][0]['begin-date']

data

Parmalee
US

{'created': '2024-10-16T18:12:38.465Z',
 'count': 2,
 'offset': 0,
 'artists': [{'id': '66980f96-2716-48e6-88c2-cbbb81b8e888',
   'type': 'Group',
   'type-id': 'e431f5f6-b5d2-343d-8b36-72607fffb74b',
   'score': 100,
   'name': 'Parmalee',
   'sort-name': 'Parmalee',
   'country': 'US',
   'area': {'id': '489ce91b-6658-3307-9877-795b68554c98',
    'type': 'Country',
    'type-id': '06dd0ae4-8c74-30bb-b43d-95dcedf961de',
    'name': 'United States',
    'sort-name': 'United States',
    'life-span': {'ended': None}},
   'life-span': {'ended': None},
   'tags': [{'count': 1, 'name': 'country'}]},
  {'id': '702505cb-9412-4825-8d89-2990a0d42c38',
   'type': 'Person',
   'type-id': 'b6e035f4-3ce9-331c-97df-83397230b0df',
   'score': 60,
   'gender-id': '36d3d30a-839d-3eda-8cb3-29be4384e4a9',
   'name': 'Matt Thomas',
   'sort-name': 'Thomas, Matt',
   'gender': 'male',
   'country': 'US',
   'area': {'id': '489ce91b-6658-3307-9877-795b68554c98',
    'type': 'Country',
    'type-id': '06dd0ae4-8c74-30bb-b43d-95dcedf961de',
    'name': 'United States',
    'sort-name': 'United States',
    'life-span': {'ended': None}},
   'disambiguation': 'Parmalee',
   'ipis': ['00404432203'],
   'life-span': {'ended': None}}]}