In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\anita\appdata\local\programs\python\python312\lib\site-packages (2.2.9)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\anita\appdata\local\programs\python\python312\lib\site-packages (9.1.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install pandas mysql-connector-python

Requirement already satisfied: pandas in c:\users\anita\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: mysql-connector-python in c:\users\anita\appdata\local\programs\python\python312\lib\site-packages (9.1.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anita\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anita\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anita\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anita\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\anita\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\anita\appdata\local\programs\python\python312\lib\site-packages (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\anita\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\anita\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.1.1)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\anita\appdata\local\programs\python\python312\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
# Importar librería para la conexión con MySQL
import pandas as pd
import mysql.connector 
from mysql.connector import errorcode

In [7]:
# Importar librerías para manipulación y análisis de datos
import pandas as pd
import numpy as np

# INSERCIÓN DE DATOS DE LA LISTA DE ARTISTAS

In [8]:
# El csv se convierte en un df
df_lista_artistas_id = pd.read_csv('SQL_lista_artistas_id.csv')

In [9]:
# Se convierte en una lista de tuplas para poder insertar los datos a través de python + SQL
tuplas_lista_artistas_id = list(df_lista_artistas_id .itertuples(name=None, index=False))

In [14]:
from sqlalchemy import create_engine

In [15]:
try:
    engine = create_engine('mysql+pymysql://root:AlumnaAdalab@127.0.0.1/music_sp_mb_lfm')

    # Guardar en SQL
    df_lista_artistas_id.to_sql('artistas_spotify', con=engine, if_exists='append', index=False)
    print("Datos insertados exitosamente en la base de datos.")

except Exception as e:
    print("Ocurrió un error al insertar los datos:", e)

Datos insertados exitosamente en la base de datos.

# INSERCIÓN DE DATOS DE SPOTIFY

In [16]:
# El csv se convierte en un df
df_spotify_id =  pd.read_csv('SQL_spotify_id.csv')

In [17]:
df_spotify_id = df_spotify_id.drop(df_spotify_id.index[-1])

In [18]:
df_spotify_id

,id_artista,tipo,título_canción,nombre_album,año,genre
0,1,track,The Color Violet,Alone At Prom,2021,pop
1,1,track,Lavender Sunflower,Alone At Prom,2021,pop
2,1,track,Lady Of Namek,Alone At Prom,2021,pop
3,1,track,And This is Just The Intro,PLAYBOY,2021,pop
4,1,track,Y.D.L.R.,PLAYBOY,2021,pop
...,...,...,...,...,...,...
7994,1885,track,patchmade,install,2022,rap
7995,1886,track,Want Me Dead,3860,2022,rap
7996,1887,track,GOOD NEWS (Intro),BLOND BOY NEWS,2022,rap
7997,1888,track,Drop,Drop,2022,rap
7998,1889,track,Mom…It's Not a Phase (feat. Kxllswxtch),Hope You're Proud,2022,rap

In [13]:
from sqlalchemy import create_engine

In [19]:
try:
    engine = create_engine('mysql+pymysql://root:AlumnaAdalab@127.0.0.1/music_sp_mb_lfm')

    # Guardar en SQL
    df_spotify_id.to_sql('canciones_spotify', con=engine, if_exists='append', index=False)
    print("Datos insertados exitosamente en la base de datos.")

except Exception as e:
    print("Ocurrió un error al insertar los datos:", e)

Datos insertados exitosamente en la base de datos.

# INSERCIÓN DE LOS DATOS DE MUSICBRAINZ

In [20]:
# Convertir el csv a dataframe
df_musicbrainz_id = pd.read_csv('SQL_musicbrainz_id.csv')

In [21]:
#Cambio de nombre a las columnas para que no haya error
df_musicbrainz_id.rename(columns={'Nombre': 'id_artista', 'Tipo': 'tipo', 'País de Origen': 'pais_origen', 
                                               'Área de Origen': 'area_origen', 'Inicio de actividad': 'inicio_actividad',
                                                'Fin de actividad': 'fin_actividad', 'Fecha nacimiento': 'fecha_nacimiento',
                                                'Fecha fallecimiento': 'fecha_fallecimiento'}, inplace=True)

print(df_musicbrainz_id)

      id_artista    tipo pais_origen       area_origen inicio_actividad  \
0              1  Person          CA          Brampton                -
1              2  Person         NaN              Bath                -
2              3  Person          PH            Manila                -
3              4  Person         NaN  Washington, D.C.                -
4              5  Person          CA           Calgary                -
...          ...     ...         ...               ...              ...
1885        1886  Person         NaN          Savannah                -
1886        1887     NaN         NaN               NaN                -
1887        1888     NaN         NaN               NaN                -
1888        1889  Person          US               NaN                -
1889        1890  Person          US               NaN                -

     fin_actividad fecha_nacimiento fecha_fallecimiento
0                -       1992-07-27                 NaN
1                -       2001-04-19                 NaN
2                -       1990-05-28                 NaN
3                -       2000-06-22                 NaN
4                -       2003-07-01                 NaN
...            ...              ...                 ...
1885             -             1999                 NaN
1886             -              NaN                 NaN
1887             -              NaN                 NaN
1888             -       1994-09-06                 NaN
1889             -              NaN                 NaN

[1890 rows x 8 columns]

In [22]:
# Reecuento de los 'NaN' en todas las columnas
nan_counts = df_musicbrainz_id.isna().sum()
print(nan_counts)

id_artista                0
tipo                    293
pais_origen             713
area_origen             702
inicio_actividad        356
fin_actividad           798
fecha_nacimiento        546
fecha_fallecimiento    1271
dtype: int64

In [23]:
# Reemplazar NaN por None en todo el DataFrame
df_musicbrainz_id=df_musicbrainz_id.where(pd.notna(df_musicbrainz_id), None)

In [24]:
# Comprobación 
df_musicbrainz_id

,id_artista,tipo,pais_origen,area_origen,inicio_actividad,fin_actividad,fecha_nacimiento,fecha_fallecimiento
0,1,Person,CA,Brampton,-,-,1992-07-27,None
1,2,Person,None,Bath,-,-,2001-04-19,None
2,3,Person,PH,Manila,-,-,1990-05-28,None
3,4,Person,None,"Washington, D.C.",-,-,2000-06-22,None
4,5,Person,CA,Calgary,-,-,2003-07-01,None
...,...,...,...,...,...,...,...,...
1885,1886,Person,None,Savannah,-,-,1999,None
1886,1887,None,None,None,-,-,None,None
1887,1888,None,None,None,-,-,None,None
1888,1889,Person,US,None,-,-,1994-09-06,None
1889,1890,Person,US,None,-,-,None,None

In [25]:
try:
    engine = create_engine('mysql+pymysql://root:AlumnaAdalab@127.0.0.1/music_sp_mb_lfm')

    # Guardar en SQL
    df_musicbrainz_id.to_sql('info_artistas_musicbrainz', con=engine, if_exists='append', index=False)
    print("Datos insertados exitosamente en la base de datos.")

except Exception as e:
    print("Ocurrió un error al insertar los datos:", e)

Datos insertados exitosamente en la base de datos.

In [50]:
df_musicbrainz_id = df_musicbrainz_id.drop(df_musicbrainz_id.index[-1])

# INSERCIÓN DE DATOS DE LAST_FM

In [26]:
# Convertir el csv a dataframe
df_lastfm_id = pd.read_csv('SQL_lastfm_id.csv')

In [27]:
 #Cambiar nombres de columnas específicas
df_lastfm_id.rename(columns={'Nombre': 'id_artista_lfm', 'Biografia': 'biografia', 'Listeners': 'listeners', 
                                               'Playcount': 'playcount', 'Artistas similares': 'artistas_similares'
                                                }, inplace=True)

print(df_lastfm_id)

      id_artista                                          biografia  \
0              1  Tory Lanez was born Daystar Peterson on July 2...
1              2                                                NaN
2              3  Idris Vicuña (born May 28, 1990), professional...
3              4  There are at least 2 artists which use this na...
4              5  Tate Rosner McRae (born July 1, 2003) is a Can...
...          ...                                                ...
1885        1886  Tyquian Terrel Bowman (born March 23, 1999), b...
1886        1887                                                NaN
1887        1888                                                NaN
1888        1889  Fat Nick (born September 6, 1994) is a Floridi...
1889        1890  SadBoyProlific is a 19-year-old rapper from Ho...

      listeners   playcount                                 artistas_similares
0     1447287.0  87028513.0  ['Bryson Tiller', 'PARTYNEXTDOOR', 'Drake', 'A...
1           NaN         NaN                                                NaN
2     1611130.0  49492074.0  ['Yot Club', 'TV Girl', 'paulie leparik', 'Mac...
3      796769.0  14249901.0  ['TV Girl', 'The Simps', 'Lunar Vacation', 'VA...
4     1420625.0  79341249.0  ['Madison Beer', 'Nessa Barrett', 'Gracie Abra...
...         ...         ...                                                ...
1885   149548.0   5033914.0  ['YoungBoy Never Broke Again', 'NoCap', 'JayDa...
1886   111855.0    645822.0  ['TisaKorean', 'Lijay', 'A$AP ANT', 'DaBaby', ...
1887    48326.0    867091.0  ['Gawne', 'EKOH', 'Chris Webby', 'Merkules', '...
1888   190007.0   3078652.0  ['Shakewell', 'Pouya', 'BOOBIE LOOTAVELI', 'Po...
1889   223863.0   6295863.0  ['Rxseboy', 'Powfu', 'Lund', 'Chri$tian Gate$'...

[1890 rows x 5 columns]

In [28]:
try:
    engine = create_engine('mysql+pymysql://root:AlumnaAdalab@127.0.0.1/music_sp_mb_lfm')

    # Guardar en SQL
    df_lastfm_id.to_sql('info_artistas_lastfm', con=engine, if_exists='append', index=False)
    print("Datos insertados exitosamente en la base de datos.")

except Exception as e:
    print("Ocurrió un error al insertar los datos:", e)

Datos insertados exitosamente en la base de datos.

In [29]:
#Cerrar conexión
engine.dispose()  # Esto libera todas las conexiones
print("Conexión cerrada.")

Conexión cerrada.